{% extends "base.html.twig" %}
{% block body %}
    <div class="col-xs-2">
        <form id="name-search-form" action="{{ path('index') }}" method="get">
            <div class="form-group">
                <label class="control-label">
                    Search for Student
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="Enter name" />
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </form>
        <hr>

        <form id="group-search-form" action="{{ path('index') }}" method="get">
            {% for group in groups %}
                <div class="checkbox">
                    <label><input type="checkbox" {% if group.name in query['groups']|default %}checked{% endif %}  name="groups[]" value="{{ group.name }}">{{ group.name }}</label>
                </div>
            {% endfor %}
        </form>
    </div>
    <div id="table" class="col-xs-10">
        {{ include(':index:table.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
{% endblock %}

