<div class="row">
    <i class="fa fa-user-o" aria-hidden="true"></i> {{ students|length }} students
    <a class="btn btn-primary btn-xs" href="{{ path('add_student') }}"><span class="glyphicon glyphicon-plus-sign"></span> Add new</a>
    <div class="pull-right">
        {% if students.haveToPaginate %}
            <div class="navigation text-center">
                {{ pagerfanta(students, 'twitter_bootstrap3',{ omitFirstPage: true }) }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Sex</th>
            <th>Place and Date of Birth</th>
            <th>Groups</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th></th>
                <th><a href="{{ path('edit_student', {'id': student.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></th>
                <td>{{ student.name }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.placeOfBirth }}, {{ student.dateOfBirth|date('Y-m-d') }}</td>
                <td>{% for group in student.studyGroups %}
                        {{ group.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
